/* 4 - external */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: purple;
}

/* 1° comentário */
/* 2° comentário */
/* 3° comentário */

/* classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* ids */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.título {
    border-bottom: 3px solid blue;
}

#outro-titulo {
    border-bottom: 4px solid green;
}

/* nome de cores */
.color-name {
    color: crimson;
}

/* hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: rgb(134, 206, 18);
}

/* aprofundando em hex */
.simple-hex-1 {
    color: #333;
}

.simple-hex-2 {
    color: #a5f;
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(199, 21, 47);
}

/* RGBA */
.rgba {
    color: rgba(100, 199, 45, 0.3);
}

/* HSL */
.hsl-1 {
    color: hsl(100, 20%, 50%)
}

.hsl-2 {
    color: hsl(201, 44%, 10%)
}

/* Background */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-1 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}