/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: purple;
}

/* 1° comentário */
/* 2° comentário */
/* 3° comentário */

/* classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* ids */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.título {
    border-bottom: 3px solid blue;
}

#outro-titulo {
    border-bottom: 4px solid green;
}