* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  text-align: center;
}

body {
  padding-bottom: 500px;
  padding: center;
  margin: 2rem;
}

h1 {
  color: blueviolet;
}

/* 5 - classes dinâmicas */
.red-title {
  font-size: 50px;
  color: #f500c0;
  background-color: #c86aff;
}
